APP_NAME=dom_pozitiv
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_LOG=daily
APP_URL=http://localhost:8080

EXPORT_FLATS_URL=

MORTGAGE_API_URL=https://api.capitalgroup.ru/api/1.0.0/objects/pozitiv/mortgage_terms
MORTGAGE_API_REFERER=https://xn----dtbenfaypcj0b.xn--p1ai/

GOOGLE_MAPS_API_KEY=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=dom_pozitiv
DB_USERNAME=dom_pozitiv
DB_PASSWORD=secret

MYSQL_ROOT_PASSWORD=root

CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=sync

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls

HTTP_PORT=8080
MYSQL_PORT=33060
