.version.kvartiry_v_rumyantsevo {
	color: #0000f6;
	background-color: #46eaff;
}
#page {
	width: 100%;
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	border-color: #000;
	margin-left: auto;
	min-height: 500px;
	background-color: transparent;
	z-index: 1;
}

#buttonu395513 {
	height: 521px;
	padding-bottom: 32px;
	width: 480px;
	margin-left: 50%;
	position: relative;
	z-index: 2;
}

#buttonu395513:hover, #buttonu395513.ButtonSelected {
	width: 480px;
	margin-bottom: 0px;
	margin-left: 50%;
	min-height: 0px;
	height: 521px;
}

#u424427 {
	position: relative;
	margin-right: -10000px;
	z-index: 3;
	width: 472px;
	min-height: 500px;
	margin-top: 17px;
}

#buttonu587077 {
	z-index: 100;
	height: 608px;
	padding-bottom: 238px;
	width: 689px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	border-radius: 0px;
}

.chose-flat-method {
	border-width: 0px;
	border-color: #787878;
	background-color: #cacaca;
	border-radius: 10px;
}

#buttonu587077.ButtonSelected {
	width: 689px;
	margin-bottom: 0px;
	margin-left: 50%;
	min-height: 0px;
	height: 608px;
}

#pu587083-4 {
	margin-right: -10000px;
	z-index: 101;
	padding-bottom: 0px;
	width: 89.26%;
	margin-left: 6.1%;
	margin-top: 8px;
}

#u587083-4 {
	font-size: 42px;
	min-height: 47px;
	margin-left: 4.4%;
	line-height: 50px;
	text-align: center;
	font-family: '__Panton_5';
	font-weight: 600;
	width: 89.6%;
	color: #282828;
	position: relative;
	background-color: transparent;
	z-index: 101;
}

#buttonu587077.ButtonSelected #u587083-4 {
	width: 89.6%;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	margin: 0px 0px 0px 4.390243902439024%;
}

#u587082-4 {
	font-size: 27px;
	min-height: 24px;
	z-index: 107;
	line-height: 32px;
	margin-top: 13px;
	margin-left: 24.56%;
	text-align: center;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 49.27%;
	color: #0071da;
	position: relative;
	background-color: transparent;
	letter-spacing: 1px;
}

#buttonu587077.ButtonSelected #u587082-4 {
	width: 49.27%;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 13px 0px 0px 24.552845528455283%;
}

#pbuttonu587085 {
	z-index: 105;
	width: 100%;
	margin-top: 66px;
}

#buttonu587085 {
	filter: alpha(opacity=100);
	margin-right: -10000px;
	height: 266px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	width: 42.61%;
	position: relative;
	z-index: 105;
	background: transparent url("../images/chose-flat-by-parameters%402x2.png?crc=3853470156") no-repeat center center;
	background-size: contain;
}

.btn-chose-by-parameters {
	border-width: 0px;
	border-color: #787878;
	border-radius: 99px;
	background: transparent url("../images/chose-flat-by-parameters%402x.png?crc=4059925557") no-repeat center center;
	background-size: contain;
}

.hidpi .btn-chose-by-parameters {
	background-image: url("../images/chose-flat-by-parameters%402x_2x.png?crc=3853470156");
}

#buttonu587084 {
	left: 57.4%;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	height: 266px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	width: 42.61%;
	position: relative;
	z-index: 106;
	background: transparent url("../images/chose-flat-by-plan%402x2.png?crc=3811237263") no-repeat center center;
	background-size: contain;
}

.btn-chose-by-plan {
	border-width: 0px;
	border-color: #787878;
	border-radius: 106px;
	background: transparent url("../images/chose-flat-by-plan%402x.png?crc=252529726") no-repeat center center;
	background-size: contain;
}

.hidpi .btn-chose-by-plan {
	background-image: url("../images/chose-flat-by-plan%402x_2x.png?crc=3811237263");
}

#pbuttonu587080 {
	z-index: 111;
	width: 92.36%;
	margin-left: 3.91%;
	margin-top: 36px;
}

#buttonu587080 {
	margin-right: -10000px;
	background-image: url("../images/blank.gif?crc=4208392903");
	border-color: #787878;
	-webkit-transition-delay: 0s;
	border-radius: 7px;
	margin-top: 1px;
	transition-delay: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	padding-bottom: 9px;
	width: 37.86%;
	position: relative;
	background-color: #1e9efc;
	z-index: 111;
}

#buttonu587080:hover {
	width: 37.86%;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
	-webkit-opacity: 0.9999;
	min-height: 0px;
	background-color: #507dfc;
	margin: 1px -10000px 0px 0%;
}

#u587081-4 {
	font-size: 17px;
	left: 7.91%;
	min-height: 24px;
	margin-right: -10000px;
	z-index: 112;
	line-height: 20px;
	margin-top: 12px;
	text-align: center;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 84.19%;
	color: #fff;
	position: relative;
	background-color: transparent;
	letter-spacing: 2px;
}

#buttonu587080:hover #u587081-4, #buttonu587080.ButtonSelected #u587081-4 {
	width: 84.19%;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 12px -10000px 0px 0%;
}

#buttonu587078 {
	border-width: 2px;
	margin-right: -10000px;
	left: 61.98%;
	margin-bottom: -1px;
	border-radius: 7px;
	margin-top: -1px;
	border-color: #1e9efc;
	border-style: solid;
	padding-bottom: 8px;
	width: 37.5%;
	position: relative;
	background-color: transparent;
	z-index: 116;
}

#buttonu587078:hover {
	width: 37.5%;
	min-height: 0px;
	background-color: #1e9efc;
	margin: -1px -10000px -1px 0%;
}

#u587079-4 {
	font-size: 17px;
	left: 7.05%;
	position: relative;
	margin-right: -10000px;
	background-image: url("../images/blank.gif?crc=4208392903");
	line-height: 20px;
	margin-top: 12px;
	z-index: 117;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	text-align: center;
	-webkit-transition-duration: 0s;
	font-family: '__Panton_5';
	transition-duration: 0s;
	font-weight: 400;
	color: #1e9efc;
	min-height: 24px;
	background-color: transparent;
	letter-spacing: 2px;
}

#buttonu587078:hover #u587079-4 {
	min-height: 24px;
	transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	padding-top: 0px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	padding-bottom: 0px;
	-webkit-transition-timing-function: ease;
	margin: 12px -10000px 0px 0%;
}

#buttonu587078.ButtonSelected #u587079-4 {
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	padding-top: 0px;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 12px -10000px 0px 0%;
}

#buttonu587078.ButtonSelected #u587079-4 p {
	visibility: inherit;
	color: #1e9efc;
}

#u587086 {
	height: 51px;
	z-index: 121;
	width: 16.59%;
	margin-left: 37.57%;
	position: relative;
	margin-top: 39px;
}

.ie #u587086 {
	filter: alpha(opacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	background-color: #fff;
	opacity: 0.01;
}

#pu587172 {
	z-index: 122;
	margin-right: -10000px;
}

#u587172 {
	border-color: transparent;
	position: relative;
	border-width: 0px;
	width: 127px;
	min-height: 99px;
	background-color: transparent;
	z-index: 122;
}

#u587589 {
	border-color: transparent;
	position: relative;
	border-width: 0px;
	width: 222px;
	min-height: 75px;
	background-color: transparent;
	z-index: 124;
}

#u587588 {
	border-color: transparent;
	position: relative;
	border-width: 0px;
	width: 222px;
	min-height: 75px;
	background-color: transparent;
	z-index: 123;
}

#u675845 {
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 869px;
	border-width: 0px;
	width: 300px;
	min-height: 204px;
	background-color: transparent;
	z-index: 164;
}

#u22515 {
	left: -674px;
	border-color: transparent;
	margin-right: -10000px;
	margin-top: 399px;
	border-width: 0px;
	width: 715px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 39;
}

#pu22518 {
	width: 100%;
	margin-left: 0%;
	margin-right: -10000px;
	z-index: 40;
}

#u22518 {
	left: -358px;
	margin-right: -10000px;
	width: 715px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 40;
}

#u22516-5 {
	font-size: 34px;
	left: -137px;
	min-height: 48px;
	margin-right: -10000px;
	line-height: 48px;
	margin-top: 75px;
	margin-left: 50%;
	text-align: right;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 140px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 42;
}

#u22517-4 {
	font-size: 21px;
	left: -220px;
	min-height: 50px;
	margin-right: -10000px;
	line-height: 25px;
	margin-top: 123px;
	margin-left: 50%;
	text-align: right;
	font-family: '__Ubuntu_5';
	font-weight: 400;
	width: 225px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 47;
}

#u178650 {
	z-index: 125;
	top: 0px;
	position: fixed;
	height: 78px;
}

#u178650-bw {
	z-index: 125;
}

#u183159 {
	top: 10px;
	position: fixed;
	z-index: 158;
}

#pu22508-4 {
	margin-right: -10000px;
	z-index: 15;
	margin-top: 191px;
}

#u22508-4 {
	font-size: 36px;
	min-height: 49px;
	z-index: 15;
	font-weight: 700;
	line-height: 43px;
	margin-left: 50%;
	font-family: '__Panton_5';
	text-transform: uppercase;
	width: 507px;
	color: #fff;
	position: relative;
	background-color: transparent;
	letter-spacing: 1px;
}

#u22509-8 {
	font-size: 23px;
	margin-left: 50%;
	margin-top: 36px;
	line-height: 32px;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 507px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 19;
}

#u313674 {
	position: relative;
	margin-right: -10000px;
	z-index: 11;
	width: 75px;
	min-height: 71px;
}

#u571142-4 {
	font-size: 22px;
	position: relative;
	z-index: 96;
	line-height: 29px;
	margin-left: 50%;
	text-align: center;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 526px;
	color: #fff;
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 3px;
}

#u571175 {
	z-index: 14;
	width: 554px;
	margin-left: 50%;
	position: relative;
	background-color: #fff;
	border-radius: 39px;
	margin-top: 21px;
}

#buttonu571137 {
	left: -241px;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 91;
	margin-left: 50%;
	opacity: 1;
	margin-top: 19px;
	width: 64px;
	position: relative;
	height: 83px;
	background: transparent url("../images/facebook-icon%402x.png?crc=4050171275") no-repeat center top;
	background-size: contain;
}

.fb-icon {
	border-width: 0px;
	border-color: #787878;
	border-radius: 10px;
	background: transparent url("../images/facebook-icon%402x.png?crc=4050171275") no-repeat center top;
	background-size: contain;
}

.hidpi .fb-icon {
	background-image: url("../images/facebook-icon%402x_2x.png?crc=218181250");
}

.hidpi #buttonu571137 {
	left: -241px;
	margin-left: 50%;
	background-image: url("../images/facebook-icon%402x_2x.png?crc=218181250");
}

#buttonu571137:hover, #buttonu571137.ButtonSelected {
	height: 83px;
	left: -241px;
	width: 64px;
	background-repeat: no-repeat;
	min-height: 0px;
	background-position: center top;
	margin: 19px -10000px 0px 50%;
	background-size: contain;
}

#buttonu571138 {
	left: -139px;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 92;
	margin-left: 50%;
	opacity: 1;
	margin-top: 20px;
	width: 64px;
	position: relative;
	height: 83px;
	background: transparent url("../images/twitter-icon%402x.png?crc=445406991") no-repeat center top;
	background-size: contain;
}

.twitter-icon {
	border-width: 0px;
	border-color: #787878;
	border-radius: 10px;
	background: transparent url("../images/twitter-icon%402x.png?crc=445406991") no-repeat center top;
	background-size: contain;
}

.hidpi .twitter-icon {
	background-image: url("../images/twitter-icon%402x_2x.png?crc=4187172724");
}

.hidpi #buttonu571138 {
	left: -139px;
	margin-left: 50%;
	background-image: url("../images/twitter-icon%402x_2x.png?crc=4187172724");
}

#buttonu571138.ButtonSelected {
	height: 83px;
	left: -139px;
	width: 64px;
	background-repeat: no-repeat;
	min-height: 0px;
	background-position: center top;
	margin: 20px -10000px 0px 50%;
	background-size: contain;
}

#buttonu571139 {
	left: -36px;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 93;
	margin-left: 50%;
	opacity: 1;
	margin-top: 19px;
	width: 64px;
	position: relative;
	height: 85px;
	background: transparent url("../images/vk-icon%402x.png?crc=3911443569") no-repeat center top;
	background-size: contain;
}

.vk-icon {
	border-width: 0px;
	border-color: #787878;
	border-radius: 10px;
	background: transparent url("../images/vk-icon%402x.png?crc=3911443569") no-repeat center top;
	background-size: contain;
}

.hidpi .vk-icon {
	background-image: url("../images/vk-icon%402x_2x.png?crc=4072621890");
}

.hidpi #buttonu571139 {
	left: -36px;
	margin-left: 50%;
	background-image: url("../images/vk-icon%402x_2x.png?crc=4072621890");
}

#buttonu571139.ButtonSelected {
	height: 85px;
	left: -36px;
	width: 64px;
	background-repeat: no-repeat;
	min-height: 0px;
	background-position: center top;
	margin: 19px -10000px 0px 50%;
	background-size: contain;
}

#u637416 {
	position: relative;
	z-index: 13;
	width: 75px;
	min-height: 79px;
}

#u78734-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 101px;
	min-height: 27px;
	z-index: 130;
}

#u81075 {
	position: relative;
	margin-right: -10000px;
	z-index: 4;
	width: 75px;
	min-height: 79px;
}

#u81071-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 98px;
	min-height: 27px;
	z-index: 154;
}

#u22597 {
	border-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	width: 752px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 74;
}

#pu22524 {
	width: 100%;
	margin-left: 0%;
	margin-right: -10000px;
	z-index: 75;
}

#u22524 {
	left: -376px;
	margin-right: -10000px;
	width: 752px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 75;
}

#u22523-5 {
	font-size: 34px;
	min-height: 46px;
	margin-right: -10000px;
	line-height: 48px;
	margin-left: 50%;
	text-align: left;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 139px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 77;
}

#u22522-4 {
	font-size: 22px;
	min-height: 35px;
	margin-right: -10000px;
	line-height: 26px;
	margin-left: 50%;
	text-align: left;
	font-family: '__Ubuntu_5';
	font-weight: 400;
	width: 313px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 82;
}

#buttonu571140 {
	filter: alpha(opacity=100);
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 94;
	margin-left: 50%;
	opacity: 1;
	width: 66px;
	position: relative;
	height: 88px;
	background: transparent url("../images/instagram%402x.png?crc=108676406") no-repeat center top;
	background-size: contain;
}

.insta-icon {
	border-width: 0px;
	border-color: #787878;
	border-radius: 10px;
	background: transparent url("../images/instagram%402x.png?crc=108676406") no-repeat center top;
	background-size: contain;
}

.hidpi .insta-icon {
	background-image: url("../images/instagram%402x_2x.png?crc=465535550");
}

.hidpi #buttonu571140 {
	margin-left: 50%;
	background-image: url("../images/instagram%402x_2x.png?crc=465535550");
}

#buttonu571140.ButtonSelected {
	margin-bottom: 0px;
	margin-right: -10000px;
	background-repeat: no-repeat;
	width: 66px;
	margin-left: 50%;
	min-height: 0px;
	background-position: center top;
	height: 88px;
	background-size: contain;
}

#u81067-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 105px;
	min-height: 27px;
	z-index: 150;
}

#u81092 {
	position: relative;
	margin-right: -10000px;
	z-index: 5;
	width: 75px;
	min-height: 79px;
}

#u22510 {
	border-color: transparent;
	border-width: 0px;
	width: 741px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 27;
}

#pu22513 {
	width: 100%;
	margin-left: 0%;
	margin-right: -10000px;
	z-index: 28;
}

#u22513 {
	left: -371px;
	margin-right: -10000px;
	width: 741px;
	margin-left: 50%;
	position: relative;
	background-color: transparent;
	z-index: 28;
}

#u22513_img {
	padding-right: 43px;
	padding-bottom: 57px;
	padding-top: 28px;
}

#u22511-5 {
	font-size: 34px;
	left: 13px;
	min-height: 49px;
	margin-right: -10000px;
	line-height: 48px;
	margin-top: 719px;
	margin-left: 50%;
	text-align: left;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 156px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 30;
}

#u22516-3, #u22523-3, #u22511-3 {
	line-height: 0px;
}

#u22516, #u22523, #u22511 {
	line-height: 48px;
}

#u22516-2, #u22523-2, #u22511-2 {
	font-size: 28px;
	line-height: 39px;
}

#u22512-4 {
	font-size: 21px;
	left: 13px;
	min-height: 51px;
	margin-right: -10000px;
	line-height: 25px;
	margin-top: 670px;
	margin-left: 50%;
	text-align: left;
	font-family: '__Ubuntu_5';
	font-weight: 400;
	width: 165px;
	color: #fff;
	position: relative;
	background-color: transparent;
	z-index: 35;
}

#buttonu571141 {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 95;
	margin-left: 50%;
	opacity: 1;
	width: 64px;
	position: relative;
	height: 83px;
	background: transparent url("../images/odnoklassniki%402x.png?crc=4060831034") no-repeat center top;
	background-size: contain;
}

.ok-icon {
	border-width: 0px;
	border-color: #787878;
	border-radius: 10px;
	background: transparent url("../images/odnoklassniki%402x.png?crc=4060831034") no-repeat center top;
	background-size: contain;
}

.hidpi .ok-icon {
	background-image: url("../images/odnoklassniki%402x_2x.png?crc=4063771336");
}

.hidpi #buttonu571141 {
	margin-left: 50%;
	background-image: url("../images/odnoklassniki%402x_2x.png?crc=4063771336");
}

#buttonu571141.ButtonSelected {
	margin-bottom: 0px;
	background-repeat: no-repeat;
	width: 64px;
	margin-left: 50%;
	min-height: 0px;
	background-position: center top;
	height: 83px;
	background-size: contain;
}

#u81055-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 92px;
	min-height: 27px;
	z-index: 138;
}

#u81102 {
	position: relative;
	margin-right: -10000px;
	z-index: 6;
	width: 75px;
	min-height: 79px;
}

#u637409-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	min-height: 27px;
	z-index: 160;
}

#u22520-23 {
	font-size: 20px;
	left: 32px;
	position: relative;
	filter: alpha(opacity=75);
	margin-right: -10000px;
	line-height: 28px;
	margin-left: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	opacity: 0.75;
	font-family: '__Panton_5';
	font-weight: 400;
	width: 540px;
	color: #fff;
	min-height: 171px;
	background-color: transparent;
	z-index: 51;
}

#u22520-3 {
	text-decoration: underline;
}

#u81112 {
	position: relative;
	margin-right: -10000px;
	z-index: 7;
	width: 75px;
	min-height: 79px;
}

#u81059-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 89px;
	min-height: 27px;
	z-index: 142;
}

#u81063-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 95px;
	min-height: 27px;
	z-index: 146;
}

#u81122 {
	position: relative;
	margin-right: -10000px;
	z-index: 8;
	width: 75px;
	min-height: 79px;
}

#u81039-4 {
	top: 28px;
	left: 50%;
	position: fixed;
	width: 100px;
	min-height: 27px;
	z-index: 134;
}

#u81132 {
	position: relative;
	margin-right: -10000px;
	z-index: 9;
	width: 75px;
	min-height: 79px;
}

#pbuttonu22526 {
	margin-top: 17px;
	width: 0.01px;
	margin-right: -10000px;
	z-index: 86;
}

#buttonu22526 {
	z-index: 86;
	box-shadow: 18px 12px 12px rgba(63, 60, 79, 0.15);
	position: fixed;
	background-color: #f7931e;
	border-radius: 25px;
}

.chose-flat-btnn {
	border-width: 0px;
	box-shadow: 18px 12px 8px rgba(0, 0, 0, 0.5);
	border-color: #787878;
	background-color: #fff;
	border-radius: 0px 0px 25px 25px;
}

#buttonu22526:hover {
	min-height: 0px;
	background-color: #ff0057;
	margin: 0px;
}

#buttonu22526.ButtonSelected {
	min-height: 0px;
	background-color: #f7931e;
	margin: 0px;
}

#u22527-4 {
	position: relative;
	margin-right: -10000px;
	z-index: 87;
	font-weight: 700;
	text-align: left;
	font-family: '__Panton_5';
	text-transform: uppercase;
	color: #fff;
	min-height: 23px;
	background-color: transparent;
}

#buttonu587078:hover #u587079-4 p, #buttonu22526:hover #u22527-4 p, #buttonu22526:hover #u22527-4 h3 {
	visibility: inherit;
	color: #fff;
}

#buttonu22526:hover #u22527-4, #buttonu22526.ButtonSelected #u22527-4 {
	padding-top: 0px;
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
	min-height: 23px;
}

#u178651-4 {
	top: 17px;
	position: fixed;
	min-height: 25px;
	z-index: 126;
}

#buttonu452239 {
	height: 28px;
	width: 138px;
	position: fixed;
	z-index: 159;
}

#buttonu452239:hover, #buttonu452239.ButtonSelected {
	width: 138px;
	min-height: 0px;
	height: 28px;
	margin: 0px;
}

#u564254 {
	position: relative;
	z-index: 12;
	width: 75px;
	min-height: 130px;
}

#u81142 {
	position: relative;
	z-index: 10;
	width: 75px;
	min-height: 79px;
}

.html {
	background-color: #453551;
}

body {
	position: relative;
}


@media (min-width: 1176px) and (max-width: 1366px) {
	#muse_css_mq {
		background-color: #000556;
	}
	#bp_1366.active {
		display: block;
	}
	#page {
		max-width: 1366px;
	}
	#pbuttonu395513 {
		z-index: 2;
		margin-right: -10000px;
		margin-top: -717px;
		width: 84.7%;
		margin-left: 7.66%;
	}
	#buttonu395513 {
		left: -1870.5px;
	}
	#buttonu395513:hover {
		margin-right: 0px;
		margin-top: 0px;
		left: -1870.5px;
	}
	#buttonu395513.ButtonSelected {
		margin-right: 0px;
		margin-top: 0px;
		left: -1870.5px;
	}
	#u424427 {
		left: 1.05%;
	}
	#buttonu587077 {
		margin-top: 189px;
		left: -2548.5px;
	}
	#buttonu587077.ButtonSelected {
		margin-right: 0px;
		margin-top: 189px;
		left: -2548.5px;
	}
	#u587079-4 {
		width: 84.04%;
	}
	#buttonu587078:hover #u587079-4 {
		width: 84.04%;
	}
	#buttonu587078.ButtonSelected #u587079-4 {
		width: 84.04%;
	}
	#pu587172 {
		margin-top: 73px;
		width: 16.26%;
		margin-left: -83.02%;
	}
	#u587589 {
		margin-top: 26px;
	}
	#u587588 {
		margin-top: 36px;
	}
	#u675845 {
		left: -46.05%;
	}
	#u183159 {
		width: 220px;
		height: 57px;
		left: 45px;
	}
	#pu22508-4 {
		width: 37.12%;
		margin-left: 31.45%;
	}
	#u22508-4 {
		left: -553.5px;
	}
	#u22509-8 {
		min-height: 103px;
		left: -553.5px;
	}
	#u313674 {
		margin-top: -160px;
		left: 10.91%;
	}
	#pu571142-4 {
		z-index: 96;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1849px;
		width: 40.56%;
		margin-left: 29.73%;
	}
	#u571142-4 {
		left: -509px;
	}
	#u571175 {
		padding-bottom: 4px;
		left: -525px;
	}
	#u81075 {
		margin-top: -162px;
		left: 20.94%;
	}
	#pu78734-4 {
		z-index: 130;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 28px;
	}
	#u78734-4 {
		margin-left: -384px;
	}
	#u81071-4 {
		margin-left: -280px;
	}
	#u81092 {
		margin-top: -164px;
		left: 30.97%;
	}
	#u22597 {
		margin-top: 1201px;
		left: -210px;
	}
	#u22523-5 {
		margin-top: 37px;
		left: -67px;
	}
	#u22522-4 {
		margin-top: 86px;
		left: -67px;
	}
	#u81067-4 {
		margin-left: -179px;
	}
	#buttonu571140 {
		margin-top: 1918px;
		left: -182px;
	}
	#buttonu571140.ButtonSelected {
		margin-top: 1918px;
		left: -182px;
	}
	.hidpi #buttonu571140 {
		left: -182px;
	}
	#u81102 {
		margin-top: -164px;
		left: 40.93%;
	}
	#pu22510 {
		z-index: 27;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: -20px;
		width: 54.54%;
		margin-left: 22.74%;
	}
	#u22510 {
		left: -76.5px;
	}
	#buttonu571141 {
		margin-top: 981px;
		left: -80.5px;
	}
	#buttonu571141.ButtonSelected {
		margin-right: 0px;
		margin-top: 981px;
		left: -80.5px;
	}
	.hidpi #buttonu571141 {
		left: -80.5px;
	}
	#u81055-4 {
		margin-left: -72px;
	}
	#u81112 {
		margin-top: -164px;
		left: 50.96%;
	}
	#u637409-4 {
		width: 111px;
		margin-left: 23px;
	}
	#u22520-23 {
		margin-top: 865px;
	}
	#u81059-4 {
		margin-left: 136px;
	}
	#u81122 {
		margin-top: -164px;
		left: 60.99%;
	}
	#u81063-4 {
		margin-left: 228px;
	}
	#u81132 {
		margin-top: -164px;
		left: 71.02%;
	}
	#u81039-4 {
		margin-left: 325px;
	}
	#u81142 {
		margin-right: -10000px;
		margin-top: -164px;
		left: 81.04%;
	}
	#buttonu22526 {
		width: 280px;
		height: 55px;
		padding-bottom: 16px;
		/*top: 788px;*/
		bottom: 35px;
		right: -80px;
	}
	#buttonu22526:hover {
		width: 280px;
		height: 55px;
	}
	#buttonu22526.ButtonSelected {
		width: 280px;
		height: 55px;
	}
	#u22527-4 {
		width: 180px;
		line-height: 18px;
		letter-spacing: 2px;
		font-size: 12px;
		margin-top: 19px;
		left: 6.79%;
	}
	#buttonu22526:hover #u22527-4 {
		margin-top: 19px;
		width: 180px;
	}
	#buttonu22526.ButtonSelected #u22527-4 {
		margin-top: 19px;
		width: 180px;
	}
	#u178651-4 {
		width: 196px;
		right: 31px;
	}
	#buttonu452239 {
		top: 44px;
		right: 30px;
	}
	#pu564254 {
		z-index: 12;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: -458px;
		width: 7.76%;
		margin-left: 88.07%;
	}
	#u637416 {
		margin-top: 164px;
		margin-left: 29.25%;
	}
	body {
		overflow-x: hidden;
	}
}

@media (max-width: 1175px) {
	#muse_css_mq {
		background-color: #000497;
	}
	#bp_1175.active {
		display: block;
	}
	#page {
		max-width: 1175px;
	}
	#pbuttonu395513 {
		z-index: 2;
		margin-right: -10000px;
		margin-top: -747px;
		width: 97.88%;
		margin-left: 1.07%;
	}
	#buttonu395513 {
		left: -1878.5px;
	}
	#buttonu395513:hover {
		margin-right: 0px;
		margin-top: 0px;
		left: -1878.5px;
	}
	#buttonu395513.ButtonSelected {
		margin-right: 0px;
		margin-top: 0px;
		left: -1878.5px;
	}
	#u424427 {
		left: 0.84%;
	}
	#buttonu587077 {
		margin-top: 219px;
		left: -2548.5px;
	}
	#buttonu587077.ButtonSelected {
		margin-right: 0px;
		margin-top: 219px;
		left: -2548.5px;
	}
	#u587079-4 {
		width: 84.04%;
	}
	#buttonu587078:hover #u587079-4 {
		width: 84.04%;
	}
	#buttonu587078.ButtonSelected #u587079-4 {
		width: 84.04%;
	}
	#pu587172 {
		margin-top: 73px;
		width: 18.9%;
		margin-left: -82.98%;
	}
	#u587589 {
		margin-top: 26px;
	}
	#u587588 {
		margin-top: 36px;
	}
	#u675845 {
		left: -46.05%;
	}
	#u183159 {
		width: 215px;
		height: 56px;
		left: 24px;
	}
	#pu22508-4 {
		width: 43.15%;
		margin-left: 28.43%;
	}
	#u22508-4 {
		left: -553px;
	}
	#u22509-8 {
		min-height: 103px;
		left: -553px;
	}
	#u313674 {
		margin-top: -142px;
		left: 5.45%;
	}
	#pu571142-4 {
		z-index: 96;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 1849px;
		width: 47.15%;
		margin-left: 26.43%;
	}
	#u571142-4 {
		left: -508.5px;
	}
	#u571175 {
		padding-bottom: 4px;
		left: -524.5px;
	}
	#u637416 {
		margin-right: -10000px;
		margin-top: -151px;
		left: 18.73%;
	}
	#u78734-4 {
		margin-left: -343px;
	}
	#u81075 {
		margin-top: -150px;
		left: 28.01%;
	}
	#u81071-4 {
		margin-left: -248px;
	}
	#pu22597 {
		z-index: 74;
		margin-right: -10000px;
		margin-top: 1067px;
		width: 64%;
		margin-left: 18%;
	}
	#u22597 {
		left: -210.5px;
	}
	#u22523-5 {
		margin-top: 38px;
		left: -67px;
	}
	#u22522-4 {
		margin-top: 87px;
		left: -67px;
	}
	#buttonu571140 {
		margin-top: 851px;
		left: -182.5px;
	}
	#buttonu571140.ButtonSelected {
		margin-top: 851px;
		left: -182.5px;
	}
	.hidpi #buttonu571140 {
		left: -182.5px;
	}
	#u81067-4 {
		margin-left: -155px;
	}
	#u81092 {
		margin-top: -151px;
		left: 37.96%;
	}
	#pu22510 {
		z-index: 27;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: -20px;
		width: 63.41%;
		margin-left: 18.3%;
	}
	#u22510 {
		left: -76px;
	}
	#buttonu571141 {
		margin-top: 981px;
		left: -80px;
	}
	#buttonu571141.ButtonSelected {
		margin-right: 0px;
		margin-top: 981px;
		left: -80px;
	}
	.hidpi #buttonu571141 {
		left: -80px;
	}
	#u81055-4 {
		margin-left: -56px;
	}
	#u81102 {
		margin-top: -151px;
		left: 48%;
	}
	#u637409-4 {
		width: 103px;
		margin-left: 29px;
	}
	#u22520-23 {
		margin-top: 865px;
	}
	#u81112 {
		margin-top: -151px;
		left: 58.05%;
	}
	#pu81059-4 {
		z-index: 142;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 28px;
	}
	#u81059-4 {
		margin-left: 121px;
	}
	#u81063-4 {
		margin-left: 203px;
	}
	#u81122 {
		margin-top: -151px;
		left: 68.09%;
	}
	#u81039-4 {
		margin-left: 286px;
	}
	#u81132 {
		margin-top: -151px;
		left: 78.13%;
	}
	#buttonu22526 {
		width: 280px;
		height: 55px;
		padding-bottom: 16px;
		/*top: 788px;*/
		bottom: 35px;
		right: -80px;
	}
	#buttonu22526:hover {
		width: 280px;
		height: 55px;
	}
	#buttonu22526.ButtonSelected {
		width: 280px;
		height: 55px;
	}
	#u22527-4 {
		width: 180px;
		line-height: 18px;
		letter-spacing: 2px;
		font-size: 12px;
		margin-top: 19px;
		left: 6.79%;
	}
	#buttonu22526:hover #u22527-4 {
		margin-top: 19px;
		width: 180px;
	}
	#buttonu22526.ButtonSelected #u22527-4 {
		margin-top: 19px;
		width: 180px;
	}
	#u178651-4 {
		width: 181px;
		right: 19px;
	}
	#buttonu452239 {
		top: 43px;
		right: 18px;
	}
	#pu564254 {
		z-index: 12;
		margin-right: -10000px;
		margin-top: -458px;
		width: 6.39%;
		margin-left: 88.09%;
	}
	#u81142 {
		margin-top: 177px;
	}
	body {
		overflow-x: hidden;
		min-width: 320px;
	}
}

@media (min-width: 768px), print {
	#muse_css_mq {
		background-color: #fff;
	}
	#bp_infinity.active {
		display: block;
	}
	#buttonu587077 {
		margin-right: -10000px;
		margin-top: -5px;
		left: -2856px;
	}
	#buttonu587077.ButtonSelected {
		margin-right: -10000px;
		margin-top: -5px;
		left: -2856px;
	}
	#u587079-4 {
		width: 83.57%;
	}
	#buttonu587078:hover #u587079-4 {
		width: 83.57%;
	}
	#buttonu587078.ButtonSelected #u587079-4 {
		width: 83.57%;
	}
	#pu587172 {
		width: 13.54%;
		margin-left: -80.49%;
	}
	#u587589 {
		margin-top: 46px;
	}
	#buttonu395513 {
		margin-right: -10000px;
		margin-top: -717px;
		left: -1871px;
	}
	#buttonu395513:hover {
		margin-right: -10000px;
		margin-top: -717px;
		left: -1871px;
	}
	#buttonu395513.ButtonSelected {
		margin-right: -10000px;
		margin-top: -717px;
		left: -1871px;
	}
	#u424427 {
		left: 1.05%;
	}
	#u587588 {
		margin-right: -10000px;
		margin-top: 145px;
		left: -64.15%;
	}
	#u675845 {
		left: -46.04%;
	}
	#u183159 {
		width: 220px;
		height: 57px;
		left: 45px;
	}
	#u313674 {
		margin-top: -160px;
		left: 10.92%;
	}
	#pu22508-4 {
		padding-bottom: 0px;
		width: 36.53%;
		margin-left: 31.74%;
	}
	#u22508-4 {
		left: -553.5px;
	}
	#u22509-8 {
		min-height: 112px;
		left: -553.5px;
	}
	#u571142-4 {
		margin-top: 1351px;
		left: -629.5px;
	}
	#u571175 {
		padding-bottom: 1px;
		left: -645.5px;
	}
	#buttonu571140 {
		margin-top: 19px;
		left: 66px;
	}
	#buttonu571140.ButtonSelected {
		margin-top: 19px;
		left: 66px;
	}
	.hidpi #buttonu571140 {
		left: 66px;
	}
	#u81075 {
		margin-top: -162px;
		left: 20.92%;
	}
	#u78734-4 {
		margin-left: -384px;
	}
	#u81092 {
		margin-top: -164px;
		left: 30.92%;
	}
	#u81071-4 {
		margin-left: -280px;
	}
	#pu22597 {
		z-index: 74;
		margin-right: -10000px;
		margin-top: 1133px;
		width: 45.86%;
		margin-left: 27.08%;
	}
	#u22597 {
		left: -210.99999999999994px;
	}
	#u22523-5 {
		margin-top: 27px;
		left: -68px;
	}
	#u22522-4 {
		margin-top: 76px;
		left: -68px;
	}
	#buttonu571141 {
		margin-right: -10000px;
		margin-top: 675px;
		left: -199.99999999999994px;
	}
	#buttonu571141.ButtonSelected {
		margin-right: -10000px;
		margin-top: 675px;
		left: -199.99999999999994px;
	}
	.hidpi #buttonu571141 {
		left: -199.99999999999994px;
	}
	#u81067-4 {
		margin-left: -179px;
	}
	#u81102 {
		margin-top: -164px;
		left: 40.98%;
	}
	#u22510 {
		margin-right: -10000px;
		margin-top: -20px;
		left: -76px;
	}
	#u81055-4 {
		margin-left: -72px;
	}
	#u81112 {
		margin-top: -164px;
		left: 50.98%;
	}
	#u637409-4 {
		width: 111px;
		margin-left: 23px;
	}
	#u22520-23 {
		margin-top: 825px;
	}
	#u81059-4 {
		margin-left: 136px;
	}
	#u81122 {
		margin-top: -164px;
		left: 61.04%;
	}
	#pu81039-4 {
		z-index: 134;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 28px;
	}
	#u81039-4 {
		margin-left: 325px;
	}
	#u81063-4 {
		margin-left: 228px;
	}
	#u81132 {
		margin-top: -164px;
		left: 71.04%;
	}
	#u81142 {
		margin-right: -10000px;
		margin-top: -164px;
		left: 81.04%;
	}
	#buttonu22526 {
		width: 312px;
		height: 64px;
		padding-bottom: 13px;
		/*top: 676px;*/
		bottom: 130px;
		right: -31px;
	}
	#buttonu22526:hover {
		width: 312px;
		height: 64px;
	}
	#buttonu22526.ButtonSelected {
		width: 312px;
		height: 64px;
	}
	#u22527-4 {
		width: 239px;
		line-height: 23px;
		letter-spacing: 3px;
		font-size: 16px;
		margin-top: 18px;
		left: 7.7%;
	}
	#buttonu22526:hover #u22527-4 {
		margin-top: 18px;
		width: 239px;
	}
	#buttonu22526.ButtonSelected #u22527-4 {
		margin-top: 18px;
		width: 239px;
	}
	#u178651-4 {
		width: 196px;
		right: 31px;
	}
	#u564254 {
		margin-right: -10000px;
		margin-top: -458px;
		left: 88.11%;
	}
	#buttonu452239 {
		top: 44px;
		right: 30px;
	}
	#u637416 {
		margin-right: -10000px;
		margin-top: -164px;
		left: 90.37%;
	}
}

#u22527-2, .topright_u587172 {
	cursor: pointer;
}
