.version.proektnaya_deklara_ia{
    color:#0000FE;
    background-color:#BD4B77;
}
@font-face{
    font-family:'__Panton_5';
    src:url('../fonts/panton.eot');
    src:local('☺'), url('../fonts/panton.woff') format('woff'), url('../fonts/panton.svg') format('svg');
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:'__Panton_5';
    src:url('../fonts/panton%20bold.eot');
    src:local('☺'), url('../fonts/panton%20bold.woff') format('woff'), url('../fonts/panton%20bold.svg') format('svg');
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:'__Ubuntu_5';
    src:url('../fonts/ubuntu-medium.eot');
    src:local('☺'), url('../fonts/ubuntu-medium.woff') format('woff'), url('../fonts/ubuntu-medium.svg') format('svg');
    font-weight:500;
    font-style:normal;
}
@font-face{
    font-family:'__Panton_5';
    src:url('../fonts/panton%20semibold.eot');
    src:local('☺'), url('../fonts/panton%20semibold.woff') format('woff'), url('../fonts/panton%20semibold.svg') format('svg');
    font-weight:600;
    font-style:normal;
}
#page{
    width:100%;
    margin-right:auto;
    background-image:none;
    border-width:0px;
    border-color:#000000;
    margin-left:auto;
    min-height:500px;
    background-color:transparent;
    z-index:1;
}
#buttonu395513{
    margin-right:-10000px;
    height:521px;
    padding-bottom:32px;
    width:480px;
    margin-left:50%;
    position:relative;
    z-index:2;
}
#buttonu395513:hover,#buttonu395513.ButtonSelected{
    width:480px;
    margin-right:-10000px;
    margin-bottom:0px;
    margin-left:50%;
    min-height:0px;
    height:521px;
}
#u424427{
    position:relative;
    margin-right:-10000px;
    z-index:3;
    width:472px;
    min-height:500px;
    margin-top:17px;
}
#u178650{
    z-index:119;
    top:0px;
    position:fixed;
    height:78px;
}
#u178650-bw{
    z-index:119;
}
#u183159{
    top:10px;
    position:fixed;
    z-index:152;
}
#u313674{
    position:relative;
    margin-right:-10000px;
    z-index:11;
    width:75px;
    min-height:71px;
}
#u637416{
    position:relative;
    z-index:13;
    width:75px;
    min-height:79px;
}
#u78734-4{
    top:28px;
    left:50%;
    position:fixed;
    width:101px;
    min-height:27px;
    z-index:124;
}
#u81075{
    position:relative;
    margin-right:-10000px;
    z-index:4;
    width:75px;
    min-height:79px;
}
#u81067-4{
    top:28px;
    left:50%;
    position:fixed;
    width:105px;
    min-height:27px;
    z-index:144;
}
#u81071-4{
    top:28px;
    left:50%;
    position:fixed;
    width:98px;
    min-height:27px;
    z-index:148;
}
#u81092{
    position:relative;
    margin-right:-10000px;
    z-index:5;
    width:75px;
    min-height:79px;
}
#u81055-4{
    top:28px;
    left:50%;
    position:fixed;
    width:92px;
    min-height:27px;
    z-index:132;
}
#u81102{
    position:relative;
    margin-right:-10000px;
    z-index:6;
    width:75px;
    min-height:79px;
}
#u637409-4{
    top:28px;
    left:50%;
    position:fixed;
    min-height:27px;
    z-index:154;
}
#u649023{
    top:51px;
    left:50%;
    height:4px;
    position:fixed;
    background-color:#D4145A;
    z-index:158;
}
#u81112{
    position:relative;
    margin-right:-10000px;
    z-index:7;
    width:75px;
    min-height:79px;
}
#u81059-4{
    top:28px;
    left:50%;
    position:fixed;
    width:89px;
    min-height:27px;
    z-index:136;
}
#pu17989-4{
    margin-right:-10000px;
    z-index:14;
    padding-bottom:0px;
}
#u17989-4{
    position:relative;
    margin-left:50%;
    text-shadow:0px 4px 8px rgba(0,0,0,0.3);
    text-align:left;
    font-family:'__Panton_5';
    font-weight:700;
    box-shadow:none;
    width:271px;
    color:#FFFFFF;
    min-height:22px;
    background-color:transparent;
    z-index:14;
}
#u156363{
    border-color:transparent;
    z-index:18;
    border-width:0px;
    width:311px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u156360{
    left:-156px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:24;
}
#buttonu9599{
    left:-130px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:285px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:19;
}
#buttonu9599:hover,#buttonu9599.ButtonSelected{
    left:-130px;
    width:285px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u9600-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:20;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:217px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu9599:hover #u9600-4,#buttonu9599.ButtonSelected #u9600-4{
    width:217px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u475202{
    border-color:transparent;
    z-index:84;
    border-width:0px;
    width:332px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    margin-top:5px;
}
#u475203{
    left:-166px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:90;
}
#buttonu475204{
    left:-140px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:306px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:85;
}
#u475205-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:86;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:304px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#u164295{
    border-color:transparent;
    z-index:71;
    border-width:0px;
    width:332px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    margin-top:5px;
}
#u164298{
    left:-166px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:77;
}
#buttonu164296{
    left:-140px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:306px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:72;
}
#buttonu475204:hover,#buttonu475204.ButtonSelected,#buttonu164296:hover,#buttonu164296.ButtonSelected{
    left:-140px;
    width:306px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u164297-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:73;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:304px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu475204:hover #u475205-4,#buttonu475204.ButtonSelected #u475205-4,#buttonu164296:hover #u164297-4,#buttonu164296.ButtonSelected #u164297-4{
    width:304px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u156466{
    border-color:transparent;
    z-index:29;
    border-width:0px;
    width:455px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    margin-top:7px;
}
#u156469{
    left:-228px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:35;
}
#buttonu156467{
    left:-202px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:429px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:30;
}
#buttonu156467:hover,#buttonu156467.ButtonSelected{
    left:-202px;
    width:429px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u156468-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:31;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:429px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu156467:hover #u156468-4,#buttonu156467.ButtonSelected #u156468-4{
    width:429px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u156478{
    border-color:transparent;
    z-index:36;
    border-width:0px;
    width:420px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    margin-top:8px;
}
#u156481{
    left:-210px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:42;
}
#buttonu156479{
    left:-184px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:394px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:37;
}
#buttonu156479:hover,#buttonu156479.ButtonSelected{
    left:-184px;
    width:394px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u156480-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:38;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:394px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu156479:hover #u156480-4,#buttonu156479.ButtonSelected #u156480-4{
    width:394px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u711298{
    border-color:transparent;
    z-index:105;
    border-width:0px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u711301{
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:111;
}
#buttonu711299{
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:106;
}
#buttonu711299:hover,#buttonu711299.ButtonSelected{
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u711300-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:107;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu711299:hover #u711300-4,#buttonu711299.ButtonSelected #u711300-4{
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u156586{
    border-color:transparent;
    z-index:57;
    border-width:0px;
    width:518px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u156589{
    left:-259px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:63;
}
#buttonu156587{
    left:-238px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:497px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:58;
}
#u156588-4{
    font-size:13px;
    left:1.01%;
    position:relative;
    margin-right:-10000px;
    z-index:59;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:492px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#u156598{
    border-color:transparent;
    z-index:64;
    border-width:0px;
    width:518px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    margin-top:8px;
}
#u156601{
    left:-259px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:70;
}
#buttonu156599{
    left:-238px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:497px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:65;
}
#buttonu156587:hover,#buttonu156587.ButtonSelected,#buttonu156599:hover,#buttonu156599.ButtonSelected{
    left:-238px;
    width:497px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u156600-4{
    font-size:13px;
    left:1.01%;
    position:relative;
    margin-right:-10000px;
    z-index:66;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:492px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#buttonu156587:hover #u156588-4,#buttonu156587.ButtonSelected #u156588-4,#buttonu156599:hover #u156600-4,#buttonu156599.ButtonSelected #u156600-4{
    width:492px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#u711520{
    border-color:transparent;
    z-index:112;
    border-width:0px;
    width:514px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u711521{
    margin-top:5px;
    left:-257px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:118;
}
#buttonu711522{
    left:-231px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:488px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:113;
}
#u711523-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:114;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:488px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#u496748{
    border-color:transparent;
    z-index:98;
    border-width:0px;
    width:514px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u496751{
    margin-top:5px;
    left:-257px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:104;
}
#buttonu496749{
    left:-231px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:488px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:99;
}
#u496750-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:100;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:488px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#u156490{
    border-color:transparent;
    z-index:43;
    border-width:0px;
    width:514px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u156493{
    margin-top:5px;
    left:-257px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:49;
}
#buttonu156491{
    left:-231px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:488px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:44;
}
#u156492-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:45;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:488px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
}
#u156562{
    border-color:transparent;
    z-index:50;
    border-width:0px;
    width:514px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u156563{
    margin-top:5px;
    left:-257px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:56;
}
#buttonu156564{
    left:-231px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:488px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:51;
}
#u156565-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:52;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:488px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
    letter-spacing:1px;
}
#u496683{
    border-color:transparent;
    z-index:91;
    border-width:0px;
    width:514px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
}
#u496684{
    margin-top:5px;
    left:-257px;
    margin-right:-10000px;
    height:12px;
    width:12px;
    margin-left:50%;
    position:relative;
    background-color:#FFFFFF;
    border-radius:50%;
    z-index:97;
}
#buttonu496685{
    left:-231px;
    border-color:#FFFFFF;
    margin-right:-10000px;
    height:30px;
    width:488px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:92;
}
#buttonu711522:hover,#buttonu711522.ButtonSelected,#buttonu496749:hover,#buttonu496749.ButtonSelected,#buttonu156491:hover,#buttonu156491.ButtonSelected,#buttonu156564:hover,#buttonu156564.ButtonSelected,#buttonu496685:hover,#buttonu496685.ButtonSelected{
    left:-231px;
    width:488px;
    min-height:0px;
    height:30px;
    margin:0px -10000px 0px 50%;
}
#u496686-4{
    font-size:13px;
    position:relative;
    margin-right:-10000px;
    z-index:93;
    font-weight:600;
    line-height:16px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:488px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
    letter-spacing:1px;
}
#buttonu711522:hover #u711523-4,#buttonu711522.ButtonSelected #u711523-4,#buttonu496749:hover #u496750-4,#buttonu496749.ButtonSelected #u496750-4,#buttonu156491:hover #u156492-4,#buttonu156491.ButtonSelected #u156492-4,#buttonu156564:hover #u156565-4,#buttonu156564.ButtonSelected #u156565-4,#buttonu496685:hover #u496686-4,#buttonu496685.ButtonSelected #u496686-4{
    width:488px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#buttonu177970{
    height:46px;
    border-color:#FFFFFF;
    width:267px;
    margin-left:50%;
    position:relative;
    background-color:transparent;
    z-index:78;
}
#buttonu177970:hover,#buttonu177970.ButtonSelected{
    width:267px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:50%;
    min-height:0px;
    height:46px;
}
#u177971-4{
    font-size:15px;
    position:relative;
    margin-right:-10000px;
    z-index:79;
    font-weight:600;
    line-height:22px;
    margin-top:2px;
    text-align:left;
    font-family:'__Panton_5';
    text-transform:uppercase;
    width:267px;
    color:#FFFFFF;
    min-height:28px;
    background-color:transparent;
    letter-spacing:1px;
}
#buttonu9599:hover #u9600-4 p,#buttonu9599:hover #u9600-4 h2,#buttonu475204:hover #u475205-4 p,#buttonu164296:hover #u164297-4 p,#buttonu164296:hover #u164297-4 h3,#buttonu156467:hover #u156468-4 p,#buttonu156479:hover #u156480-4 p,#buttonu156479:hover #u156480-4 h4,#buttonu711299:hover #u711300-4 p,#buttonu156587:hover #u156588-4 p,#buttonu156599:hover #u156600-4 p,#buttonu711522:hover #u711523-4 p,#buttonu496749:hover #u496750-4 p,#buttonu156491:hover #u156492-4 p,#buttonu156564:hover #u156565-4 p,#buttonu496685:hover #u496686-4 p,#buttonu177970:hover #u177971-4 p{
    text-decoration:underline;
}
#buttonu177970:hover #u177971-4,#buttonu177970.ButtonSelected #u177971-4{
    width:267px;
    padding-top:0px;
    padding-bottom:0px;
    min-height:28px;
    margin:2px -10000px 0px 0%;
}
#buttonu9599.ButtonSelected #u9600-4 p,#buttonu9599.ButtonSelected #u9600-4 h2,#buttonu475204.ButtonSelected #u475205-4 p,#buttonu164296.ButtonSelected #u164297-4 p,#buttonu164296.ButtonSelected #u164297-4 h3,#buttonu156467.ButtonSelected #u156468-4 p,#buttonu156479.ButtonSelected #u156480-4 p,#buttonu156479.ButtonSelected #u156480-4 h4,#buttonu711299.ButtonSelected #u711300-4 p,#buttonu156587.ButtonSelected #u156588-4 p,#buttonu156599.ButtonSelected #u156600-4 p,#buttonu711522.ButtonSelected #u711523-4 p,#buttonu496749.ButtonSelected #u496750-4 p,#buttonu156491.ButtonSelected #u156492-4 p,#buttonu156564.ButtonSelected #u156565-4 p,#buttonu496685.ButtonSelected #u496686-4 p,#buttonu177970.ButtonSelected #u177971-4 p{
    text-decoration:none;
}
#u156378-4{
    margin-left:50%;
    font-family:'__Panton_5';
    font-weight:400;
    width:524px;
    color:#FFFFFF;
    position:relative;
    background-color:transparent;
    z-index:25;
}
#u81063-4{
    top:28px;
    left:50%;
    position:fixed;
    width:95px;
    min-height:27px;
    z-index:140;
}
#u81122{
    position:relative;
    margin-right:-10000px;
    z-index:8;
    width:75px;
    min-height:79px;
}
#u81039-4{
    top:28px;
    left:50%;
    position:fixed;
    width:100px;
    min-height:27px;
    z-index:128;
}
#u81132{
    position:relative;
    margin-right:-10000px;
    z-index:9;
    width:75px;
    min-height:79px;
}
#u178651-4{
    top:17px;
    position:fixed;
    min-height:25px;
    z-index:120;
}
#buttonu177991{
    filter:alpha(opacity=100);
    margin-right:-10000px;
    border-color:#787878;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-radius:10px;
    z-index:83;
    margin-left:50%;
    opacity:1;
    width:71px;
    position:relative;
    height:115px;
    background:transparent url("../images/zip%402x.png?crc=3933728956") no-repeat center center;
    background-size:contain;
}
.hidpi #buttonu177991{
    margin-left:50%;
    background-image:url("../images/zip%402x_2x.png?crc=4175203402");
}
#buttonu177991:hover,#buttonu177991.ButtonSelected{
    margin-bottom:0px;
    margin-right :-10000px;
    background-repeat:no-repeat;
    width:71px;
    margin-left:50%;
    min-height:0px;
    background-position:center center;
    height:115px;
    background-size:contain;
}
#buttonu452239{
    height:28px;
    width:138px;
    position:fixed;
    z-index:153;
}
#buttonu452239:hover,#buttonu452239.ButtonSelected{
    width:138px;
    min-height:0px;
    height:28px;
    margin:0px;
}
#u564254{
    position:relative;
    z-index:12;
    width:75px;
    min-height:130px;
}
#u81142{
    position:relative;
    z-index:10;
    width:75px;
    min-height:79px;
}
.html{
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#FFFFFF;
    background-attachment:fixed;
    background-size:cover;
}
body{
    position:relative;
}
@media (min-width: 1337px), print{
    #muse_css_mq{
        background-color:#FFFFFF;
    }
    #bp_infinity.active{
        display:block;
    }
    #buttonu395513{
        margin-top:-717px;
        left:-1872px;
    }
    #buttonu395513:hover{
        margin-top:-717px;
        left:-1872px;
    }
    #buttonu395513.ButtonSelected{
        margin-top:-717px;
        left:-1872px;
    }
    #u424427{
        left:1.05%;
    }
    #u183159{
        width:220px;
        height:57px;
        left:45px;
    }
    #u313674{
        margin-top:-160px;
        left:10.88%;
    }
    #u81075{
        margin-top:-162px;
        left:20.92%;
    }
    #u78734-4{
        margin-left:-384px;
    }
    #u81092{
        margin-top:-164px;
        left:30.96%;
    }
    #pu81067-4{
        z-index:144;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u81067-4{
        margin-left:-179px;
    }
    #u81071-4{
        margin-left:-280px;
    }
    #u81102{
        margin-top:-164px;
        left:40.95%;
    }
    #u81055-4{
        margin-left:-72px;
    }
    #u81112{
        margin-top:-164px;
        left:50.99%;
    }
    #pu81059-4{
        z-index:136;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u81059-4{
        margin-left:136px;
    }
    #u637409-4{
        width:111px;
        margin-left:23px;
    }
    #u649023{
        width:89px;
        margin-left:34px;
    }
    #u81122{
        margin-top:-164px;
        left:61.03%;
    }
    #pu17989-4{
        margin-top:102px;
        width:33.38%;
        margin-left:33.32%;
    }
    #u17989-4{
        font-size:44px;
        line-height:53px;
        left:207px;
    }
    #u156363{
        margin-top:18px;
        left:207px;
    }
    #u711298{
        width:339px;
        margin-top:10px;
        left:207px;
    }
    #u711301{
        margin-top:4px;
        left:-170px;
    }
    #buttonu711299{
        width:318px;
        left:-149px;
    }
    #buttonu711299:hover{
        width:318px;
        left:-149px;
    }
    #buttonu711299.ButtonSelected{
        width:318px;
        left:-149px;
    }
    #u711300-4{
        width:306px;
        letter-spacing:1px;
        left:1.58%;
    }
    #buttonu711299:hover #u711300-4{
        width:306px;
    }
    #buttonu711299.ButtonSelected #u711300-4{
        width:306px;
    }
    #u156586{
        margin-top:10px;
        left:207px;
    }
    #u156360,#u475203,#u164298,#u156469,#u156481,#u156589{
        margin-top:4px;
    }
    #u475202,#u164295,#u156466,#u156478,#u156598{
        left:207px;
    }
    #u156601{
        margin-top:5px;
    }
    #u711520{
        margin-top:8px;
        left:206px;
    }
    #u496748{
        margin-top:10px;
        left:206px;
    }
    #u156490{
        margin-top:9px;
        left:207px;
    }
    #u9600-4,#u475205-4,#u164297-4,#u156468-4,#u156480-4,#u156588-4,#u156600-4,#u711523-4,#u496750-4,#u156492-4{
        letter-spacing:1px;
    }
    #u156562{
        margin-top:7px;
        left:207px;
    }
    #u496683{
        margin-top:6px;
        left:207px;
    }
    #buttonu177970{
        margin-top:32px;
        left:209px;
    }
    #buttonu177970:hover{
        margin-top:32px;
        left:209px;
    }
    #buttonu177970.ButtonSelected{
        margin-top:32px;
        left:209px;
    }
    #u156378-4{
        min-height:161px;
        font-size:9px;
        line-height:11px;
        margin-top:37px;
        left:207px;
    }
    #pu81039-4{
        z-index:128;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u81039-4{
        margin-left:325px;
    }
    #u81063-4{
        margin-left:228px;
    }
    #u81132{
        margin-top:-164px;
        left:71.02%;
    }
    #u81142{
        margin-right:-10000px;
        margin-top:-164px;
        left:81.06%;
    }
    #buttonu177991{
        margin-top:1112px;
        left:493px;
    }
    #buttonu177991:hover{
        margin-top:1107px;
        left:493px;
    }
    #buttonu177991.ButtonSelected{
        margin-top:965px;
        left:493px;
    }
    .hidpi #buttonu177991{
        left:493px;
    }
    #u178651-4{
        width:196px;
        right:31px;
    }
    #u564254{
        margin-right:-10000px;
        margin-top:-458px;
        left:88.12%;
    }
    #buttonu452239{
        top:44px;
        right:30px;
    }
    #u637416{
        margin-right:-10000px;
        margin-top:-164px;
        left:90.34%;
    }
    .html{
        background-image:url("../images/docs-bg%402x.jpg?crc=3835338721");
    }
}
@media (min-width: 1176px) and (max-width: 1336px){
    #muse_css_mq{
        background-color:#000538;
    }
    #bp_1336.active{
        display:block;
    }
    #page{
        max-width:1336px;
    }
    #buttonu395513{
        margin-top:-717px;
        left:-1871px;
    }
    #buttonu395513:hover{
        margin-top:-717px;
        left:-1871px;
    }
    #buttonu395513.ButtonSelected{
        margin-top:-717px;
        left:-1871px;
    }
    #u424427{
        left:1.05%;
    }
    #u183159{
        width:220px;
        height:57px;
        left:45px;
    }
    #u313674{
        margin-top:-160px;
        left:10.93%;
    }
    #u81075{
        margin-top:-162px;
        left:20.89%;
    }
    #pu78734-4{
        z-index:124;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u78734-4{
        margin-left:-384px;
    }
    #u81071-4{
        margin-left:-280px;
    }
    #u81092{
        margin-top:-164px;
        left:30.92%;
    }
    #u81067-4{
        margin-left:-179px;
    }
    #u81102{
        margin-top:-164px;
        left:40.95%;
    }
    #u81055-4{
        margin-left:-72px;
    }
    #u81112{
        margin-top:-164px;
        left:50.98%;
    }
    #pu81059-4{
        z-index:136;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u81059-4{
        margin-left:136px;
    }
    #u637409-4{
        width:111px;
        margin-left:23px;
    }
    #u649023{
        width:90px;
        margin-left:33px;
    }
    #pu17989-4{
        margin-top:132px;
        width:39.38%;
        margin-left:30.32%;
    }
    #u17989-4{
        font-size:39px;
        line-height:47px;
        left:135px;
    }
    #u156363{
        margin-top:28px;
        left:137px;
    }
    #u711298{
        width:298px;
        margin-top:7px;
        left:137px;
    }
    #u711301{
        margin-top:5px;
        left:-149px;
    }
    #buttonu711299{
        width:277px;
        left:-128px;
    }
    #buttonu711299:hover{
        width:277px;
        left:-128px;
    }
    #buttonu711299.ButtonSelected{
        width:277px;
        left:-128px;
    }
    #u711300-4{
        width:269px;
        letter-spacing:0px;
        left:1.81%;
    }
    #buttonu711299:hover #u711300-4{
        width:269px;
    }
    #buttonu711299.ButtonSelected #u711300-4{
        width:269px;
    }
    #u156586{
        margin-top:3px;
        left:137px;
    }
    #u156589{
        margin-top:5px;
    }
    #u475202,#u164295,#u156466,#u156478,#u156598{
        left:137px;
    }
    #u156360,#u475203,#u164298,#u156469,#u156481,#u156601{
        margin-top:6px;
    }
    #u711520{
        margin-top:10px;
        left:137px;
    }
    #u156490{
        margin-top:5px;
        left:137px;
    }
    #u475205-4,#u156468-4,#u156588-4,#u156600-4,#u711523-4,#u496750-4,#u156492-4{
        letter-spacing:0px;
    }
    #u496748,#u156562{
        margin-top:6px;
        left:137px;
    }
    #u496683{
        margin-top:7px;
        left:137px;
    }
    #buttonu177970{
        margin-top:44px;
        left:139px;
    }
    #buttonu177970:hover{
        margin-top:44px;
        left:139px;
    }
    #buttonu177970.ButtonSelected{
        margin-top:44px;
        left:139px;
    }
    #u156378-4{
        min-height:132px;
        font-size:8px;
        line-height:10px;
        margin-top:27px;
        left:137px;
    }
    #u81122{
        margin-top:-164px;
        left:61.01%;
    }
    #u81063-4{
        margin-left:228px;
    }
    #u81132{
        margin-top:-164px;
        left:71.04%;
    }
    #u81039-4{
        margin-left:325px;
    }
    #u81142{
        margin-right:-10000px;
        margin-top:-164px;
        left:81.07%;
    }
    #buttonu177991{
        margin-top:689px;
        left:422px;
    }
    #buttonu177991:hover{
        margin-top:960px;
        left:422px;
    }
    #buttonu177991.ButtonSelected{
        margin-top:689px;
        left:422px;
    }
    .hidpi #buttonu177991{
        left:422px;
    }
    #pu178651-4{
        z-index:120;
        width:0.01px;
        margin-right:-10000px;
        margin-top:17px;
    }
    #u178651-4{
        width:196px;
        right:31px;
    }
    #buttonu452239{
        top:44px;
        right:30px;
    }
    #pu564254{
        z-index:12;
        padding-bottom:0px;
        margin-right:-10000px;
        margin-top:-458px;
        width:7.86%;
        margin-left:88.1%;
    }
    #u637416{
        margin-top:164px;
        margin-left:28.58%;
    }
    .html{
        background-image:url("../images/docs-bg%402x2.jpg?crc=3778742640");
    }
    .hidpi.html{
        background-image:url("../images/docs-bg%402x_2x.jpg?crc=138028091");
    }
    body{
        overflow-x:hidden;
    }
}
@media (max-width: 1175px){
    /* */
     #muse_css_mq{
        background-color:#000497;
    }
    #bp_1175.active{
        display:block;
    }
    #page{
        max-width:1175px;
    }
    #buttonu395513{
        margin-top:-747px;
        left:-1879px;
    }
    #buttonu395513:hover{
        margin-top:-747px;
        left:-1879px;
    }
    #buttonu395513.ButtonSelected{
        margin-top:-747px;
        left:-1879px;
    }
    #u424427{
        left:0.84%;
    }
    #u183159{
        width:215px;
        height:56px;
        left:24px;
    }
    #u313674{
        margin-top:-142px;
        left:5.45%;
    }
    #u637416{
        margin-right:-10000px;
        margin-top:-151px;
        left:18.73%;
    }
    #u78734-4{
        margin-left:-343px;
    }
    #u81075{
        margin-top:-150px;
        left:28.01%;
    }
    #pu81067-4{
        z-index:144;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u81067-4{
        margin-left:-155px;
    }
    #u81071-4{
        margin-left:-248px;
    }
    #u81092{
        margin-top:-151px;
        left:37.96%;
    }
    #u81055-4{
        margin-left:-56px;
    }
    #u81102{
        margin-top:-151px;
        left:48%;
    }
    #pu637409-4{
        z-index:154;
        width:0.01px;
        margin-right:-10000px;
        margin-top:28px;
    }
    #u637409-4{
        width:103px;
        margin-left:29px;
    }
    #u649023{
        width:90px;
        margin-left:33px;
    }
    #u81112{
        margin-top:-151px;
        left:58.05%;
    }
    #u81059-4{
        margin-left:121px;
    }
    #pu17989-4{
        margin-top:132px;
        width:44.77%;
        margin-left:27.62%;
    }
    #u17989-4{
        font-size:39px;
        line-height:47px;
        left:135.5px;
    }
    #u156363{
        margin-top:28px;
        left:137.5px;
    }
    #u711298{
        width:298px;
        margin-top:7px;
        left:137.5px;
    }
    #u711301{
        margin-top:5px;
        left:-149px;
    }
    #buttonu711299{
        width:277px;
        left:-128px;
    }
    #buttonu711299:hover{
        width:277px;
        left:-128px;
    }
    #buttonu711299.ButtonSelected{
        width:277px;
        left:-128px;
    }
    #u711300-4{
        width:269px;
        letter-spacing:0px;
        left:1.81%;
    }
    #buttonu711299:hover #u711300-4{
        width:269px;
    }
    #buttonu711299.ButtonSelected #u711300-4{
        width:269px;
    }
    #u156586{
        margin-top:3px;
        left:137.5px;
    }
    #u156589{
        margin-top:5px;
    }
    #u475202,#u164295,#u156466,#u156478,#u156598{
        left:137.5px;
    }
    #u156360,#u475203,#u164298,#u156469,#u156481,#u156601{
        margin-top:6px;
    }
    #u711520{
        margin-top:10px;
        left:137.5px;
    }
    #u156490{
        margin-top:5px;
        left:137.5px;
    }
    #u475205-4,#u156468-4,#u156588-4,#u156600-4,#u711523-4,#u496750-4,#u156492-4{
        letter-spacing:0px;
    }
    #u496748,#u156562{
        margin-top:6px;
        left:137.5px;
    }
    #u496683{
        margin-top:7px;
        left:137.5px;
    }
    #buttonu177970{
        margin-top:44px;
        left:139.5px;
    }
    #buttonu177970:hover{
        margin-top:44px;
        left:139.5px;
    }
    #buttonu177970.ButtonSelected{
        margin-top:44px;
        left:139.5px;
    }
    #u156378-4{
        min-height:132px;
        font-size:8px;
        line-height:10px;
        margin-top:27px;
        left:137.5px;
    }
    #u81063-4{
        margin-left:203px;
    }
    #u81122{
        margin-top:-151px;
        left:68.09%;
    }
    #u81039-4{
        margin-left:286px;
    }
    #u81132{
        margin-top:-151px;
        left:78.13%;
    }
    #u178651-4{
        width:181px;
        right:19px;
    }
    #buttonu177991{
        margin-top:965px;
        left:423px;
    }
    #buttonu177991:hover{
        margin-top:960px;
        left:423px;
    }
    #buttonu177991.ButtonSelected{
        margin-top:695px;
        left:423px;
    }
    .hidpi #buttonu177991{
        left:423px;
    }
    #buttonu452239{
        top:43px;
        right:18px;
    }
    #pu564254{
        z-index:12;
        margin-right:-10000px;
        margin-top:-458px;
        width:6.39%;
        margin-left:88.09%;
    }
    #u81142{
        margin-top:177px;
    }
    .html{
        background-image:url("../images/docs-bg%402x2.jpg?crc=3778742640");
    }
    .hidpi.html{
        background-image:url("../images/docs-bg%402x_2x.jpg?crc=138028091");
    }
    body{
        overflow-x:hidden;
        min-width:320px;
    }
}
